

<script type="text/ng-template" id="child_renderer.html">
  <div ui-tree-handle>
    <a class="btn btn-default btn-xs" ng-click="child.showRaw = !child.showRaw">?</a>
    <a ng-show="isFolder(child)" class="btn btn-default btn-xs" ng-click="expandFolder(child)">+</a>
    <a ng-show="!isFolder(child)" class="btn btn-danger btn-xs" ng-click="deleteFile(child)">-</a>
    <a ng-href="{{child.links.self}}">{{child.attributes.item_type}}: {{child.attributes.name}}</a>
    <pre ng-show="child.showRaw">{{child | json}}</pre>
  </div>
  <ol ui-tree-nodes="" ng-model="child.fileTree">
    <li ng-repeat="child in child.fileTree" ui-tree-node ng-include="'child_renderer.html'">
    </li>
  </ol>
</script>


<h3>Node: {{thisNode.attributes.title}}</h3>

<h4>Files</h4>
<div ui-tree>
  <ol ui-tree-nodes="" ng-model="fileTree" id="tree-root">
    <li ng-repeat="child in fileTree" ui-tree-node ng-include="'child_renderer.html'"></li>
  </ol>
</div>

<h4>
  All
  <a class="btn btn-default btn-xs" ng-click="thisNode.showAll = !thisNode.showAll">?</a>
</h4>
<pre ng-show="thisNode.showAll">{{thisNode | json}}</pre>

<h4>
  Attributes
  <a class="btn btn-default btn-xs" ng-click="thisNode.showAttr = !thisNode.showAttr">?</a>
</h4>
<pre ng-show="thisNode.showAttr">{{thisNode.attributes | json}}</pre>

<h4>
  Links
  <a class="btn btn-default btn-xs" ng-click="thisNode.showLink = !thisNode.showLink">?</a>
</h4>
<pre ng-show="thisNode.showLink">{{thisNode.links | json}}</pre>

<h4>
  Relationships
  <a class="btn btn-default btn-xs" ng-click="thisNode.showRel = !thisNode.showRel">?</a>
</h4>
<pre ng-show="thisNode.showRel">{{thisNode.relationships | json}}</pre>




