
<style type="text/css">
  .grouping { margin-top: 5px; }

  .inodeName { padding-left: 3em; }

  .treemeta { margin-bottom: 5px; }
</style>


<script type="text/ng-template" id="child_renderer.html">
  <div class="treemeta" ui-tree-handle>
    <span ng-show="isFile(child)">
      <span class="glyphicon glyphicon-file"></span>
    </span>
    <span ng-show="isFolder(child)">
      <a ng-click="toggleFolderOpen(child)"><span class="glyphicon" ng-class="{'glyphicon-menu-right': !isFolderExpanded(child), 'glyphicon-menu-down': isFolderExpanded(child)}"></span></a>
    </span>

    <span class="inodeName">{{child.attributes.name}}</span>
    <a class="pull-right" ng-click="inspectChild(child, child.parent)"><span class="glyphicon glyphicon-eye-open"></span></a>
    <span class="clearfix"></span>
  </div>

  <ul class="list-group" ng-show="isFolderExpanded(child)" ui-tree-nodes="" ng-model="child.fileTree">
    <li class="list-group-item" ng-repeat="child in child.fileTree" ui-tree-node ng-include="'child_renderer.html'">
    </li>
  </ul>
</script>


<div class="row">
  <div class="col-md-6">

    <h3>Node: {{thisNode.attributes.title}}</h3>

    <h4>Browse</h4>
    <div ui-tree>
      <ul class="list-group" ui-tree-nodes="" ng-model="thisNode.fileTree" id="tree-root">
        <li class="list-group-item" ng-repeat="child in thisNode.fileTree" ui-tree-node ng-include="'child_renderer.html'"></li>
      </ul>
    </div>

    <br><br>
    <h4>Node Properties</h4>
    <h5>
      <a class="btn btn-default btn-xs" ng-click="thisNode.showAll = !thisNode.showAll">?</a>
      All
    </h5>
    <pre ng-show="thisNode.showAll">{{thisNode | json}}</pre>

    <h5>
      <a class="btn btn-default btn-xs" ng-click="thisNode.showAttr = !thisNode.showAttr">?</a>
      Attributes
    </h5>
    <pre ng-show="thisNode.showAttr">{{thisNode.attributes | json}}</pre>

    <h5>
      <a class="btn btn-default btn-xs" ng-click="thisNode.showLink = !thisNode.showLink">?</a>
      Links
    </h5>
    <pre ng-show="thisNode.showLink">{{thisNode.links | json}}</pre>

    <h5>
      <a class="btn btn-default btn-xs" ng-click="thisNode.showRel = !thisNode.showRel">?</a>
      Relationships
    </h5>
    <pre ng-show="thisNode.showRel">{{thisNode.relationships | json}}</pre>

  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
    <h4 ng-show="inspectee">{{ isFolder(inspectee) ? 'Folder: ' : 'File: '}}{{inspectee.attributes.name}}</h4>

    <div ng-show="inspectee">

      <div class="grouping">
        <div class="input-group">
          <a class="btn btn-default" ng-click="inspectee.showRaw = !inspectee.showRaw">Show Raw Repsonse</a>
          <a class="btn btn-default" ng-href="{{downloadUrlFor(inspectee)}}">Download</a>
          <a class="btn btn-danger" ng-click="deleteThis(inspectee)">Delete</a>
        </div>
      </div>

      <div class="grouping">
        <h5>Rename</h5>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="inspecteeRename" />
          <span class="input-group-btn">
            <a class="btn btn-default" ng-click="renameTo(inspectee, inspecteeRename)">Rename</a>
          </span>
        </div>
      </div>

      <div class="grouping">
        <h5>Move / Copy To</h5>
        <select class="form-control" ng-model="moveTarget" ng-options="folder.attributes.path as folder.attributes.name for folder in allFolders"></select>
        <label><input type="radio" ng-model="moveAction" value="move">Move</label>
        <label><input type="radio" ng-model="moveAction" value="copy">Copy</label>
        <a ng-click="moveOrCopyTo(inspectee, moveAction, moveTarget)" class="btn btn-default">Move/Copy</a>
      </div>

      <div ng-show="isFolder(inspectee)" class="grouping">
        <h5>Upload File</h5>
        <div class="btn btn-primary" ngf-select ng-model="inspecteeNewFile" name="file">Select</div>
        <a class="btn btn-default" ng-click="uploadFile(inspectee, inspecteeNewFile)">Upload File</a>
      </div>

      <div ng-show="isFile(inspectee)" class="grouping">
        <h5>Update File</h5>
        <div class="btn btn-primary" ngf-select ng-model="file" name="file">Select</div>
        <a class="btn btn-default" ng-click="updateFile(inspectee, file)">Update File</a>
      </div>

      <div ng-show="isFolder(inspectee)" class="grouping">
        <h5>Create Subfolder</h5>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="inspecteeNewFolder" />
          <span class="input-group-btn">
            <a ng-click="createSubfolder(inspectee, inspecteeNewFolder)" class="btn btn-default">Create Subfolder</a>
          </span>
        </div>
      </div>

      <pre ng-show="inspectee.showRaw">{{inspectee | json}}</pre>
    </div>
      </div>
      <div class="col-md-12">
        <h4>Console</h4>

        <div ng-repeat="alert in alerts">
          <div class="alert alert-dismissible" ng-class="alert.class">
            <button type="button" class="close" ng-click="dismissAlert($loop.index)">&times;</button>
            {{alert.msg}}
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
